.footer_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
}

.circle{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;

    & span{
        color: #5B9BF3;
        font-size: 26px;
        font-weight: map-get($font-weights, bold);
    }
}

footer{
    margin-top: 150px;
    padding: 7%;
    display: grid;
    grid-template-columns: 40% auto auto auto;
    gap:  80px;
    background: linear-gradient(183.41deg, #7bccf8 -8.57%, #0a56c8 82.96%);
    color: $bg-color;
& p{
    opacity: 0.9;
}

    & a{
        text-decoration: none;
        display: block;
        color: $bg-color;
        line-height: 28px;
        font-weight: 300;
        &:hover{
        font-weight: 500;           
        color: darkblue;
        }
    }
}
.copyright{
    text-decoration: underline;
 
    &:hover{
        font-weight: 500;
        color: darkblue;
    }
}