@media screen and (max-width: 450px) {
 
header{
  justify-content: space-between;
  align-items: center;
  padding: 6% 4% 6% 9%;
  & .header-right {
    justify-content: flex-end;

    & .header-menu{
      display: block;
      display: flex;
      align-items: center;
      img{
        width: 50%;
      }
    }

    ul {
        display: none;
      }
    }
  }
    h1 {
      padding-right: 15px;
    }

    .main-box {
      flex-direction: column-reverse;
      justify-content: center;

      .main-box-content-left {
        width: 90%;
        img {
          top: 50px;
        }
      }
      .main-box-image-right {
        width: 100%;
        display: flex;
        justify-content: center;
        & .main-image {
          max-width: 90%;
          height: auto;
        }
      }
    }

    .grid {
      grid-template-columns: auto;
      padding: 0px 10% 5%;
      .grid-item {
        padding: 25px;

        .grid-image {
          margin-bottom: 0px;
        }
      }
    }
    .grid_2 {
      grid-template-columns: auto;
      gap: 20px;
      padding: 0 8%;
      margin-bottom: 65px;
    }
    .main-box2 {
      flex-direction: column;

      .main-box2-content-left {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 90%;
          margin-bottom: 20px;
        }
      }
      .main-box2-content-right {
        width: 80%;
        margin-right: 0px;
      }
    }

    .main-box3 {
      display: flex;
      flex-direction: column-reverse;
      .main-box3-content-left {
        width: 90%;
        margin-left: 25px;
      }
      .main-box3-content-right {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
      }
    }

    .slideshow {
      margin: 0 7%;
    }

    .slide_flex {
      flex-direction: column;
      align-items: center;
      margin-top: 25px;

      .slide_flex_left {
        width: 95%;
      }

      .slide_flex_right {
        width: 95%;
        margin-top: 15px;
      }
    }
    .dots_style_topright {
      max-width: 25%;
      top: 11%;
      right: 1%;
    }

    footer {
      margin-top: 95px;
      grid-template-columns: auto;
      justify-content: center;
      gap: 20px;
      .company,
      .foot-item4,
      .foot-item3 {
        text-align: center;
      }
    }
  }

