@media screen and (max-width: 450px) {
body{
  background-color:lightblue;
}

  header-right img {
    display: block;
  }

  .main-box {
    flex-direction: column-reverse;
  }
  .main-box-content-left {
    width: 100%;
  }
  .main-box-content-right {
    width: 100%;
  }
}
