@media screen and (min-width:450px) and (max-width: 930px) {
  
  header {
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 25px;
    a {
      padding: 3px;
    }
  }
  .main-box {
    padding: 6% 2% 3%;
    // justify-content: space-between;

    .main-box-content-left {
      h1 {
        font-size: 35px;
        line-height: 45px;
      }
      p {
        margin: 10px 0px;
      }

      img {
        left: -55px;
        width: 18%;
        top: -85px;
      }
    }
  }

  .grid {
    grid-template-columns: auto auto;
  }
  .left-bg {
    width: 55%;
  }
  .middle-right-dots {
    right: 11px;
    top: 57%;
  }

  .main-box2 {
    padding: 7% 2%;
    margin: 50px 0;
  }
  .main-box2-content-right {
    width: 30%;

    p {
      margin: 10px 0;
    }
    h2 {
      line-height: 30px;
    }
  }
  .main-box3-content-left {
margin-left: 50px;
    p{
      margin: 10px 0;
    }
  }
  .main-box3-content-right{
    width: 61%;
  }

  .main-box2-content-left img {
    width: 116%;
  }
.grid_2{
  grid-template-columns: auto auto;
}
// .grid_2_center{

// }

  footer {
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 6% 11%;
    gap: 60px;
img{
  width: 12%;
}

    .foot-item1{
      grid-column: 1/span 4;
    }
  }
}
