// this is how a partial file is imported , it get easy to maintain partwise
@import "variables";

// importing nav bar styles
@import "nav";

// importing grid layout boxes
@import "grid-boxes";

body {
  background: $bg-color;
  font-family: "Mulish", sans-serif;
  // using content of mapping from partial file varibles
  font-weight: map-get($font-weights, regular);
}

// making a common dummy for all the buttons inside the web
@mixin button {
  padding: 12px 35px;
  border-radius: 55px;
  border: 1px solid #458ff6;
  font-weight: map-get($font-weights, medium);
  font-size: 14px;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}

button {
  @include button;
  color: $bg-color;
  background-color: map-get($button-bg-color, blue-bg);
}

.button-at-center {
  display: flex;
  justify-content: center;
}
.button-second {
  background-color: $bg-color;
  color: map-get($button-bg-color, blue-bg);
  margin: auto;
}
p {
  opacity: 0.5;
  line-height: 28px;
}
  
// made a general declaration for flex box so that dont need to use same property again2.
@mixin flexbox-space-bw {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 6%;
}

.main-box {
  // including properties declared for flexbox
  @include flexbox-space-bw;
  // position: relative;

  .main-box-content-left {
    width: 40%;
    padding: 6px 12px;
    position: relative;

    & img{
position: absolute;
background-color: #458ff6;
max-width: 100%;
left:-120px;
top: -100px;
    }

    h1 {
      font-size: 48px;
      line-height: 56px;
    }

    p {
      margin: 20px 0px;
    }
  }

  .main-box-image-right {
    width: 50%;
    // position: absolute;
    // right: -50px;
    // top: -45px;
    & .main-image {
      max-width: 100%;
      height: auto;
    }
  }
}

@import 'slideshow';


.services {
  width: 80%;
  margin: 90px auto 50px;
  text-align: center;

  // this is how i can further link css #{&}
  // #{&}p {
  //   margin: 0px;
  // }
}

// including styles for two boxes of bottom
@import "bottommainbox2-3";


// including footer style
@import 'footer';

// including tablet version
@import 'tablet-view';

// including mobile responsive design
@import 'mobile-view';