// this is how a partial file is imported , it get easy to maintain partwise
@import 'variables';

body {
  background: $bg-color;
  font-family: "Mulish", sans-serif;
  // using content of mapping from partial file varibles
  font-weight: map-get($font-weights, regular);
}

// importing nav bar styles
@import 'nav';

p {
  opacity: 0.5;
}


.main-box {
  display: flex;
  justify-content: space-between;
  padding: 3% 6%;
  .main-box-content-left {
    width: 40%;
    padding: 6px 12px;
    
    h1 {
      font-size: map-get($font-weights, bold);
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.services {
  width: 80%;
  margin: 5px auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 0px;
  border: 2px solid yellow;
#{&}p{
  margin: 0px;
}
}

.grid {border: 2px solid red;
  display: grid;
  grid-template-columns: auto auto auto;
}
