// variables are defined in sass like this
$bg-color: #E5E5E5;
$text-color: #1f1534;
// this is how maping is done
$font-weights: (
  "regular": 300,
  "medium": 400,
  "bold": 700,
);

body {
  margin: 0;
  padding: 0;
  background: $bg-color;
  font-family: "Mulish", sans-serif;
  // using content of mapping
  font-weight: map-get($font-weights, regular);
}

p{
  opacity: 0.5;
}
header {
  display: flex;
  justify-content: space-between;
  padding:  3% 6%;

  .header-left {
    a {
      font-weight: map-get($font-weights, bold);
      font-size: 24px;
      color: #233348;
    }
  }

  // not working right now 
  .header-right {
    opacity: 0.5;
    

  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 18px;
    color: $text-color;
    font-weight: map-get($font-weights, medium);
  }
}

.main-box{display: flex;
  justify-content: space-between;
  padding:  3% 6%;
  .main-box-content-left{
    width: 40%;
    padding: 6px 12px;
    h1{
      font-size: map-get($font-weights, bold );
      font-size: 48px;
      line-height: 56px;  
  }
}